<h1>
  {{ (heroe.id)?'Editar':'Nuevo' }}
  <span> Héroe</span>
  <small *ngIf="heroe.id" >
    {{ heroe.superhero }}
  </small>
</h1>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap = "4rem" fxFLayoutAlign = "start" >
  <div fxFlex="50" fxFlex.xs="100" fxLayout = "column" >
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap = "2rem">
      <mat-form-field >
        <mat-label>Super Héroe</mat-label>
        <input matInput
               type="text"
               required=""
               [(ngModel)]="heroe.superhero" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Alter Ego</mat-label>
        <input matInput
               type="text"
               required=""
               [(ngModel)]="heroe.alter_ego" >
      </mat-form-field>
    </div>

    <mat-form-field >
      <mat-label>Primera Aparición</mat-label>
      <input matInput
             type="text"
             required=""
             [(ngModel)]="heroe.first_appearance" >
    </mat-form-field>

    <mat-form-field >
      <mat-label>Personajes</mat-label>
      <input matInput
             type="text"
             required=""
             [(ngModel)]="heroe.characters" >
    </mat-form-field>

    <mat-form-field >
      <mat-label>Creador</mat-label>
      <mat-select required
                  [(ngModel)]="heroe.publisher" >
        <mat-option *ngFor="let publisher of publishers"
                    value="publisher.id"  >
          {{publisher.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Foto URL</mat-label>
      <input matInput
             type="text"
             [(ngModel)]="heroe.alt_img"
             required >
    </mat-form-field>

    <br>

    <div fxLayout >
      <button mat-raised-button color="primary"
              (click)="guardar()" >
        <mat-icon>edit</mat-icon>
        {{ (heroe.id)?'Actualizar':'Crear' }}
      </button>

      <span class="spacer"></span>

      <button mat-raised-button color="warn"
              *ngIf="heroe.id"
              (click)="borrar()" >
        <mat-icon>remove</mat-icon>
        Borrar
      </button>
    </div>
  </div>

  <div fxFlex="50" fxFlex.xs="100" >
    <img [src]="heroe | imagen" >
  </div>
</div>
